.conteiner{
    margin-left: auto;
    margin-right: auto;
    width: 620px;
}

/* !перенес в css,но закоментировал так как ширина фотографии 100 процентов! */

/*page_photo_size{*/
/*    width:1280px;*/
/*}*/

.menu_item{
    display:inline-block;
    text-align: center;
    margin-right: 32px;
    margin-left: 30px;

}


.link_menu{
color:#FF0000;
    text-decoration:none;
    font-family:Skia;
    font-size: 18px;
}

.page_photo{
    width: 100%;

}


body{
    margin:0 auto;
}



.page_main_text{
    text-align:center;
    color:#373737;
    font-size: 22px;
    font-weight: 700;
    margin-top:49px;

}

.page-main-title{
text-align: center;
    font-size: 16px;
    color:#373737;
    padding-left:67.5px;
    padding-right:67.5px;

}


.page_main_margin{
    margin-top: 24px;
}

.page_main_margin_1{
    margin-top: 28px;
}

.page_button{
   background: #FF0000;
    margin: auto;
    color:#FFFFFF;
    width: 151px;
    height:21px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-top:42px;
    margin-bottom: 59px;
}

.text_footer{
text-align: right;
    padding-right: 105px;
    padding-left: 713px;
    padding-bottom: 29px;
    padding-top: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;


}

